<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Portafolio</title>
    <style>
        .navbar {
            background-color: #1857d8;
            padding: 8px 20px;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            margin-right: 20px;
            font-family: Arial, sans-serif;
        }
        .navbar a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'core:perfil' %}">Perfil</a>
        <a href="{% url 'core:experiencia' %}">Experiencia</a>
        <a href="{% url 'core:certificados' %}">Certificados</a>
        <a href="{% url 'core:habilidades' %}">Habilidades</a>
        <a href="{% url 'core:proyectos' %}">Proyectos</a>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>
