nav {
  text-align: 'center';
  padding: 1.25rem 4rem;
  position: 'fixed';
  width: 100vw;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.charla-texto{
  text-align: 'center':
}


.card img{
  height: 60%;
  weight: 50%;
  margin: 1pt;
  padding: 1pt;
}

.card {
  text-align: center;
}

.exper{
  text-align: 'center';
  margin: '2rem';
  height: '52pt';
  padding: 1pt;
  font-family: 'Owald', 'bold';
  position: 'relative';
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url('../img/mia.jpg');
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.seccion{
  font-size: 25pt;
  font-family: 'Open sans', 'semibold';
  text-align: 'justify';
  padding: '1pt';
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:'hover' {
  background-color: #555;
  color: white;
}

/*body, html *{
  border: 1px solid black;
}*/

.horizontal{
  border: 1px;
  border-style: 'solid';
  color: 'black';
  position: 'center';
}


.btn{
  color:000000;
}

.hr{
  border:'1px';
  color:'blue';
  width: '1pt';
}


.fuente span{
font-family: 'Cinzel','cursive';
font-size: 37pt;
font-style: normal;
font-variant: normal;
font-weight: 700;
line-height: 26.4px;
}

.ingre {
  font-weight: 700;
  font-size: 28pt;
  width: 59%;
  text-align: left;
}

.otro{
font-family: 'Cinzel','cursive';
}

footer{
  background-color: #373A3C;
  text-align: center;
  font-family: 'Cinzel','cursive';
  color:white;
  padding-top: 50pt;
  padding-bottom: 50pt;
  font-size: 37pt;
}

.subtexto span{
font-family: 'Cinzel';
font-size: 28pt;
font-weight: 700;
font-variant: normal;
font-weight: 700;
line-height: 26.4px;
}

.suscripcion {
text-align: center;
font-family: 'Cabin';
font-style: bold;
font-variant: normal;
font-size: 40pt;
padding-top: 150pt;
padding-bottom: 150pt;
}

body {
  text-align: left;
  color: #000f08;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: cabin;
}

.suscripcion {
  text-align: center;
  background: #ffffff;
 color: 'blue';
  padding: 50pt;
}

.cocina{
  text-decoration: underline;
  }

  .mesa{
    text-decoration: underline;
    }


.imagen {
  text-align: right;
  color: #ffffff;
  padding: 0rem 0rem;
}

.textos {
  text-align: right;
  color: #ffffff;
  padding: 0rem 0rem;
  margin: 50pt;
}

.centrado {
  width: 100%;
  height: '1rem';
  margin: 0 auto;
}



.icono {
  width: 2rem;
}

.icono svg {
  fill: #ffffff;
}

.carousel-indicators li{
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #ffffff;
}
